html{
font-size:62.5%;
 box-sizing:border-box;
}

*,*::before,*:after{
box-sizing: inherit;
}

body{
font-size: 16px;
margin: 0;
}

img{
    max-width: 100%;
    height: auto;
}

h1{
    text-align: center;
    font-size: 5rem;
    color: #333;
}

h2{
    text-align: center;
    font-size: 3.5rem;
    color: #333; 
}
.bg{
    background-color: #707070;
}

header{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
    /* background-color: #707070; */
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
}

header nav a{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    transition: text-decoration 0.3s ease-in;
}
header nav a:hover{
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #bdcc37;
    text-decoration-thickness: 0.5rem;
    text-underline-offset: 0.7rem;
}

main .tarjeta{
    margin: 0 auto;
}

.tarjeta h1{

}

.tarjeta .tarjeta--contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    gap: 3rem;
}

.tarjeta .tarjeta--contenido p{
    font-size: 3rem;
    color: #555;
    text-align: justify;
    font-style: italic;
}

.tarjeta--imagen{
    margin: 0 auto;
    border-radius: 60%;
    width: 22%;
}

/* Sección proyectos*/

.proyectos{
    margin: 0 auto;
    width: 70%;
}

.proyecto--grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
}

.proyecto{
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 10%;
}
.proyecto h3, .proyecto p{
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.proyecto p{
    font-style: italic;
    text-align: justify;
    width: 80%;
}
.proyecto img{
    border-radius: 1rem;
    width: 80%;
    box-shadow: 2rem 0.7rem 1.5rem 0.5rem rgba(0,0,0,0.1);
}

/* Sobre mi*/
.sobre-mi{
    margin: 0 auto;
    width: 70%;
}
.sobre-mi img{
    width: 20%;
    border-radius: 50%;
    box-shadow: 2rem 0.7rem 1.5rem 0.5rem rgba(0,0,0,0.1);
    margin: 0 auto;
    display: block;
}

/* tecnologías*/
.tecnologias{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* pie de página */
footer{
    text-align: center;
    padding: 2rem 0;
    background-color: #707070;
    color: #fff;
}
footer p{
    font-size: 1.5rem;
}
footer a{
    color: #bdcc37;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #bdcc37;
    text-decoration-thickness: 0.5rem;
    text-underline-offset: 0.7rem;
}







