html{
font-size:62.5%;
 box-sizing:border-box;
}

*,*::before,*:after{
box-sizing: inherit;
}

body{
font-size: 16px;
}

header{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
}

header nav a{
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    transition: ;
}
header nav a:hover{
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #bdcc37;
    text-decoration-thickness: 0.5rem;
    text-underline-offset: 0.7rem;
}

main .tarjeta{
    margin: 0 auto;
}

.tarjeta h1{
    text-align: center;
    font-size: 5rem;
    color: #333;
}

.tarjeta .tarjeta--contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    gap: 3rem;
}

.tarjeta .tarjeta--contenido p{
    font-size: 3rem;
    color: #555;
    text-align: justify;
    font-style: italic;
}

.tarjeta--imagen{
    margin: 0 auto;
    max-width: 100%;
    border-radius: 60%;
    width: 22%;
    height: auto;
}



